// fonts
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

//fonts
$body-font: 'Poppins', sans-serif;
$brand-font: 'Zilla Slab Highlight', cursive;
$author-font: "Shadows Into Light Two", cursive;
$logo_font: 'Gloria Hallelujah', cursive;

// colors
$foot: #151515;
$orange: #f48840;
$orange-hover: #fb9857;
$card_body: #f4dcc8;
$grey: #3a414e;
$btn-grey: #222;
