<div class="container mb-4 bann_wall" style="background-image: url({{asset(bg_page)}})">
	<div class="banner_title">
		<div class="p-3 div_banner">
			<p class="my-auto">{{ title|upper }}</p>
		</div>
	</div>
</div>

<div class="pt-2 pb-3"></div>
