<div class="container-fluid pt-4 pt-md-5 mt-5 my_foot">
	<footer class="container">

		{% include "layouts/partials/_newsletter.html.twig" %}

		<div class="row mt-5">
			<div class="col-lg-3 text-lg-start text-center mb-lg-0 mb-4">
				<a class="footer-brand fw-bolder" href="{{ path('app_home') }}">Bloggy</a>
				<ul class="list-unstyled small text-muted mt-3">
					<li class="mb-2">Code licensed MIT, docs CC BY 3.0</li>
					<li class="mb-2">Currently v5.0.2.</li>
				</ul>
			</div>
			<div class="col-lg-3 col-12 text-lg-start text-center mb-lg-0 mb-4">
				<h5 class="foot_title text-lg-start text-center w-100 mb-4">Features</h5>
				<ul class="list-unstyled text-small">
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Cool stuff</a>
					</li>
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Random feature</a>
					</li>
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Team feature</a>
					</li>
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Stuff for developers</a>
					</li>
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Another one</a>
					</li>
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Last time</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-12 text-lg-start text-center mb-lg-0 mb-4">
				<h5 class="foot_title text-lg-start text-center w-100 mb-4">Resources</h5>
				<ul class="list-unstyled text-small">
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Resource</a>
					</li>
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Resource name</a>
					</li>
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Another resource</a>
					</li>
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Final resource</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-12 text-lg-start text-center mb-lg-0 mb-4">
				<h5 class="foot_title text-lg-start text-center w-100 mb-4">About</h5>
				<ul class="list-unstyled text-small">
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Team</a>
					</li>
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Locations</a>
					</li>
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Privacy</a>
					</li>
					<li class="mb-1">
						<a class="text-muted foot_links text-decoration-none" href="#">Terms</a>
					</li>
				</ul>
			</div>

			<div class="col-12 pt-lg-5 pt-2">
				<p class="text-muted text-center fs-6">
					Blog.com&copy;2022
					<cite title="Source Title">-Tous droits réservés</cite>
				</p>
			</div>

		</div>
	</footer>
</div>
