{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}


{% block carousel %}
	{% include "layouts/partials/_owlcarousel.html.twig" %}
{% endblock %}

{% block banner %}
	{% include "layouts/partials/_banner.html.twig" %}
{% endblock %}

{% block body %}

	<div class="mb-5">
		<h2 class="mb-5 position-relative title_after">Title of a longer featured blog post beautiful</h2>
		<p class="lead text-muted">Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
		<p class="my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>

		<p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
		<p></p>
	</div>

	<div class="px-0 mb-lg-0">
		<figure class="figure">
			<img src="{{ asset("build/img/home/home3.jpg") }}" class="figure-img img-fluid" alt="home">
			<figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
		</figure>
	</div>

	<div class="mt-lg-3">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non est ista, inquam, Piso, magna dissensio.
			<i>Sed quot homines, tot sententiae;</i>
			Duo Reges: constructio interrete. Nec mihi illud dixeris: Haec enim ipsa mihi sunt voluptati, et erant illa Torquatis.
			<b>Sed potestne rerum maior esse dissensio?</b>
			An ea, quae per vinitorem antea consequebatur, per se ipsa curabit? Quid de Pythagora?
		</p>

		<dl>
			<dt>
				<dfn>Proclivi currit oratio.</dfn>
			</dt>
			<dd>Causa autem fuit huc veniendi ut quosdam hinc libros promerem.</dd>
			<dt>
				<dfn>Nihil sane.</dfn>
			</dt>
			<dd>Non enim iam stirpis bonum quaeret, sed animalis.</dd>
		</dl>

		<div class="p-5 text-white bg-dark my-5">
			<h2 class="h1">Call to action</h2>
			<p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
			<div class="mt-5">
				<a href="#" class="btn btn-outline-primary rounded-0 me-2">Main call to action</a>
				<a href="#" class="btn btn-outline-light rounded-0">Secondary action</a>
			</div>
		</div>


		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non est ista, inquam, Piso, magna dissensio.
			<i>Sed quot homines, tot sententiae;</i>
			Duo Reges: constructio interrete. Nec mihi illud dixeris: Haec enim ipsa mihi sunt voluptati, et erant illa Torquatis.
			<b>Sed potestne rerum maior esse dissensio?</b>
			An ea, quae per vinitorem antea consequebatur, per se ipsa curabit? Quid de Pythagora?
		</p>
	</div>

	<div class="mt-5">
		<h2 class="mb-5 position-relative title_after">Guides</h2>
		<p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
		<ul class="list-unstyled">
			<li class="d-flex align-items-center py-2">
				<i class="fa-solid fa-circle-arrow-right fs-3 me-2"></i>
				<a class="a_italic" href="/docs/5.0/getting-started/introduction/">Bootstrap quick start guide</a>
			</li>
			<li class="d-flex align-items-center py-2">
				<i class="fa-solid fa-circle-arrow-right fs-3 me-2"></i>
				<a class="a_italic" href="/docs/5.0/getting-started/webpack/">Bootstrap Webpack guide</a>
			</li>
			<li class="d-flex align-items-center py-2">
				<i class="fa-solid fa-circle-arrow-right fs-3 me-2"></i>
				<a class="a_italic" href="/docs/5.0/getting-started/parcel/">Bootstrap Parcel guide</a>
			</li>
			<li class="d-flex align-items-center py-2">
				<i class="fa-solid fa-circle-arrow-right fs-3 me-2"></i>
				<a class="a_italic" href="/docs/5.0/getting-started/build-tools/">Contributing to Bootstrap</a>
			</li>
		</ul>
	</div>
{% endblock %}
